services:
  mongo:
    image: mongo:8.0
    container_name: mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"   # optional: only needed if you want to connect from host
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: unless-stopped
    env_file:
      - ./backend/.env
    environment:
      # override or add extra envs if needed
      MONGODB_URI: mongodb://mongo:27017/myappdb
    depends_on:
      - mongo
    ports:
      - "5000:5000"
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: unless-stopped
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    ports:
      - "4000:3000"  # open in browser: http://localhost:3000
    networks:
      - app-network

networks:
  app-network:

volumes:
  mongo_data:
